/* Basic Tags */
body{
  font-family: 'Bitter', serif;
  margin: 0px;
  color: #132238;
  
}
a {
  
  color: #fff;
}
p {
 line-height: 1.5;
}



/* Nav Bar */
.logo {
  padding: 10px;
}
.nav-container{
  background-color: #132238;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.nav-bar {
  display: flex;
  align-self: center;
  margin-right: 11px;
}

.nav-bar a {
  text-decoration: none;
  margin-right: 12px;
}

/* Intro About Me */
  .about-me img{
    width:100%;
    margin-bottom: 70px;
  }

/* Services */
.services{
  position: relative;
}
.services-icon {
  color: #98CCD4;
  margin: 30px 0px;
  margin-left: 45%;
  
}
.row p {
  margin-bottom: 100px;
}

/* Testimonial */
.carousel-item {
  padding: 35px;
  margin: 60px 0px;
}
.test-container p {
  font-size: 1rem;
  text-align: center;
  /*padding: 20px;*/

}
.test-container{
  background-color: #132238;
  color: #EAF0F6;
}

.testimony-img{
  width: 15%;
  border-radius: 100%;
  margin: auto;
  margin-top: 5%;
}

/* Contact Me */
.copyright {
  margin-right: auto;
  margin-left: 5%;
}
.contact-icons {
  display: flex;
  justify-content: flex-end;
  margin-right: 4%;
  color: #98CCD4;
  align-items: flex-end;
  
}

.contact-icons i {
  padding: 10px;
}